body {
  padding-top: 50px;
}
body #portfolio thead th,
body #portfolio tbody,
body #portfolio td {
  cursor: pointer;
}
body #portfolio thead th:hover {
  color: #16558a;
}
body #portfolio .editable-table > tbody > tr > td {
  padding: 4px;
}
body #portfolio .editable-text {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
body #portfolio .editable-input {
  padding-left: 3px;
}
body #portfolio .editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}
body #portfolioDetails .form-group {
  margin-left: 0;
  margin-right: 0;
}
html,
body {
  margin: 0px;
}
