@model AddCustomerViewModel

@{
    ViewData["Title"] = "Register Customer";
}


<div ng-controller="accountController" class="col-md-8">
    <form  ng-submit="submitForm()" name="registerForm" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded" novalidate>
        <h2>Create a new customer.</h2>
        <hr/>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$touched && registerForm.email.$invalid }">
            <label asp-for="Email" class="col-md-3 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" name="email" type="email" ng-model="email" ng-minlength="5" class="form-control" required />

                <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched">
                    <div ng-messages-include="customMessages"></div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : registerForm.confirmEmail.$touched && registerForm.confirmEmail.$invalid }">
            <label asp-for="ConfirmEmail" class="col-md-3 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ConfirmEmail" name="confirmEmail" type="email" ng-model="confirmEmail" class="form-control" compare-to="email" required/>
                <div class="help-block" ng-messages="registerForm.confirmEmail.$error" ng-show="registerForm.confirmEmail.$touched">
                    <div ng-messages-include="customMessages"></div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && registerForm.password.$touched }">
            <label asp-for="Password" class="col-md-3 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Password" name="password" ng-model="password" ng-minlength="6" required class="form-control"/>
                <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
                    <div ng-messages-include="customMessages"></div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched }">
            <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ConfirmPassword" name="confirmPassword" ng-model="confirmPassword" ng-minlength="6" required class="form-control" compare-to="password"  required />
                <div class="help-block" ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched">
                    <div ng-messages-include="customMessages"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-3">
                <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-default">Register</button>
            </div>
        </div>

    </form>
    @*<pre>registerForm.email.$error = {{ registerForm.confirmEmail.$error | json }}</pre>*@
    
</div>


<script type="text/ng-template" id="customMessages">    
    <p ng-message="minlength">This field is too short</p>
    <p ng-message="maxlength">This field is too long</p>
    <p ng-message="required">This field is required</p>
    <p ng-message="email">This needs to be a valid email</p>
</script>
<script type="text/ng-template" id="modal.html">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Customer Registration</h4>
                </div>
                <div class="modal-body">
                    <p>{{response.data}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">OK</button>                    
                </div>
            </div>
        </div>
    </div>
</script>